.container {
	overflow: auto!important;
}
.navbar {
	position: sticky;
	top: 0px;
	z-index: 3333;
}
#user-page-container {
	width: 70%;
	height: auto;
	min-height: 80vh;
	border: 1px solid rgba(120, 71, 0, 0.12)
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	margin-top: 1em;
}

#user-page-thumb img {
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	border-radius: 50%;
	border: 8px solid white;
	outline: 1px solid #aaa3;
	display: inline-block;
	width: 6rem;
	box-shadow: 0px 0px 20px #ddd;
}
#user-page-thumb {
	width: 40%;
	text-align: center;
}
#user-page-info {
	width: 60%;
}
#user-page-details {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #aaa;
}
.separator-dot {
	font-size: .2em;
	color: #1a1a1a;
	margin: 0 5px;
}
#user-page-info-post {
	margin: 0 5px;
	color: black;
}
#user-page-info-comments{
	margin: 0 5px;
	color: black;
}
#user-page-info-likes {
	margin: 0 5px;
	color: black;
}

#user-page-container-post {
	padding: 0px;
	text-align: center;
}
#user-page-container-post div h4{
	margin: 0px;
	margin-bottom: 20px;
	padding: 10px 20px;
	background: black;
	color: white;
	display: inline-block;
	font-size: small;
	font-weight: normal;
	border-radius: 3px;
	font-family: ubuntu;

}
#user-page-container-post-posts {

}

#user-page-container-post-posts {

}
#user-page-container-post-posts-item {
	width: 300px;
	height: 300px;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	margin: 6px;
	cursor: pointer;
	position: relative;

}
#user-page-container-post-posts-item-delete {
	position: absolute;
	top: 0px;
	left: 100%;
	transform: translate(-129%, 0%);
	display: none;
	padding: 5px;
	background: white;
	border-radius: 5px;
	margin: 5px;
	color: #c30000;
}
#user-page-container-post-posts-item:hover #user-page-container-post-posts-item-delete {
	display: inline-block;
}

#user-page-container-post-posts-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
